@model kisiselWeb22.Models.OdullOZ
@{
    ViewBag.Title = "OdulEkle";
    Layout = "~/Views/_LayoutAdmin.cshtml";
}

<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
            <a href="#" class="current">Tables</a>
        </div>
        <h1>Urun Ekleme</h1>
        <div>
            <h5>
                <a href="/Admin/Odul" style="width:200px; height:30px; margin-left:10px;border: 2px solid #4CAF50;border-radius: 16px; padding-top:10px;"
                   class="btn btn-info">Tabloyu Goruntule</a>
            </h5>
        </div>
    </div>

    <div class="container-fluid">
        <hr>

        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"> <i class="icon-th"></i> </span>
                <div>
                    <h5>Static table </h5>

                </div>

            </div>
            <span style="color:red;padding-top:5px; margin-left:5px;">( *  Bos Gecilemez )</span>
            <form action="/Ekleme/OdulEkle" class="bg-light p-4 p-md-5 contact-form" style="margin-left:5px;" method="post">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @*                                <input type="text" class="form-control" placeholder="Resim1" name="Resim1">*@
                    <label>Yil Aralik<sapan style="color:red">*</sapan></label>
                    @Html.TextBoxFor(m =>m.Yil, new { @class = "form-control", style = "width:80%;" })
                    @Html.ValidationMessageFor(m => m.Yil, null, new { @style = "color:red" })
                </div>
                <div class="form-group">
                    @*<input type="text" class="form-control" placeholder="Resim2" name="Resim2">*@
                    <label>Ilk Kacinci<sapan style="color:red">*</sapan></label>
                    @Html.TextBoxFor(m => m.IlkKacinci, new { @class = "form-control", style = "width:80%;" })
                    @Html.ValidationMessageFor(m => m.IlkKacinci, null, new { @style = "color:red" })
                </div>
                <div class="form-group">
                    @*<input type="text" class="form-control" placeholder="Resim3" name="Resim3">*@
                    <label>Firma Adi<sapan style="color:red">*</sapan></label>
                    @Html.TextBoxFor(m => m.FirmaAdi, new { @class = "form-control", style = "width:80%;" })
                    @Html.ValidationMessageFor(m => m.FirmaAdi, null, new { @style = "color:red" })
                </div>
                <div class="form-group">
                    @*<input type="text" class="form-control" placeholder="Resim4" name="Resim4">*@
                    <label>Aciklama<sapan style="color:red">*</sapan></label>
                    @Html.TextBoxFor(m => m.Aciklama, new { @class = "form-control", style = "width:80%;" })
                    @Html.ValidationMessageFor(m => m.Aciklama, null, new { @style = "color:red" })
                </div>

                @*<div class="form-group">
                        <textarea name="messaj" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
                    </div>*@
                <div class="form-group">
                    <input type="submit" value="Gonder" class="btn btn-primary py-3 px-5">
                </div>
            </form>


        </div>


    </div>
</div>

