@model List<kisiselWeb22.Models.DeneyimOZ>
@{
    ViewBag.Title = "Deneyim";
    Layout = "~/Views/_LayoutAdmin.cshtml";
}

<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="~/Admin1/Index" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
            <a href="~/Admin1/Deneyim" class="current">Deneyim</a>
        </div>
        <h1>Deneyim Tablosu</h1>
        <div>
            <h5>
                <a href="/Ekleme/DeneyimEkle" style="width:200px; height:30px; margin-left:10px;border: 2px solid #4CAF50;border-radius: 16px; padding-top:10px;"
                   class="btn btn-info">Ekelme Formuna Git</a>
            </h5>
        </div>
    </div>
    <div class="container-fluid">
        <hr>
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"> <i class="icon-th"></i> </span>
                <h5>Tablo</h5>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered table-striped">

                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Yil aralik</th>
                            <th>Alan</th>
                            <th>OKul</th>
                            <th>Kisa Aciklama</th>

                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var i in Model)
                        {
                        <tr class="odd gradeX">
                            @if (i.Id != 0)
                            {
                                <td>@i.Id</td>
                            }
                            else
                            {
                                <td>NULL</td>
                            }
                            @if (i.Aralik != null)
                            {
                                <td>@i.Aralik</td>
                            }
                            else
                            {
                                <td>NULL</td>
                            }
                            @if (i.Alan != null)
                            {
                                <td>@i.Alan</td>
                            }
                            else
                            {
                                <td>NULL</td>
                            }
                            @if (i.Okul != null)
                            {
                                <td>@i.Okul</td>
                            }
                            else
                            {
                                <td>NULL</td>
                            }
                            @if (i.AciklamaKisa != null)
                            {
                                <td>@i.AciklamaKisa</td>
                            }
                            else
                            {
                                <td>NULL</td>
                            }

                            <td><a href="/Admin/DeneyimSil/@i.Id" class="btn btn-danger"style = "border-radius:10px;" >Sil</a></td>
                            <td>@Html.ActionLink("Guncelle", "DeneyimGuncelle", new { id = i.Id }, new { @class = "btn btn-success", style = "border-radius:10px;" })</td>

                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>




    </div>
</div>

