@model List<kisiselWeb22.Models.Servi>
@{
    ViewBag.Title = "Servis";
    Layout = "~/Views/_LayoutAdmin.cshtml";
}

<div id="content">
    <div id="content-header">
        <div id="breadcrumb">
            <a href="~/Admin1/Index" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
            <a href="#" class="current">Tables</a>
        </div>
        <h1>Servis Tablosu</h1>
       
        <div>
            <h5>
                <a href="/Ekleme/ServisEkle" style="width:200px; height:30px; margin-left:10px;border: 2px solid #4CAF50;border-radius: 16px; padding-top:10px;"
                   class="btn btn-info">Ekleme Islemi Yap</a>
            </h5>
        </div>
    </div>
    <div class="container-fluid">
        <hr>
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"> <i class="icon-th"></i> </span>
                <h5>Static table</h5>
            </div>
            <div class="widget-content nopadding">
                <table class="table table-bordered table-striped">

                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Resim Yol</th>
                            <th>Ad</th>
                            <th>Kisa Aciklama</th>
                            <th>Uzun Aciklama</th>


                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var i in Model)
                        {
                        <tr class="odd gradeX">
                            @if (i.Id != 0)
                            {
                                <td>@i.Id</td>
                            }
                            else
                            {
                                <td>NULL</td>
                            }
                            @if (i.ResimYol != null)
                            {
                                <td>@i.ResimYol</td>
                            }
                            else
                            {
                                <td>NULL</td>
                            }
                            @if (i.Ad != null)
                            {
                                <td>@i.Ad</td>
                            }
                            else
                            {
                                <td>NULL</td>
                            }
                            @if (i.KisaAciklama != null)
                            {
                                <td>@i.KisaAciklama</td>
                            }
                            else
                            {
                                <td>NULL</td>
                            }
                            @if (i.UzunAciklama != null)
                            {
                                <td>@i.UzunAciklama</td>
                            }
                            else
                            {
                                <td>NULL</td>
                            }
                            <td><a href="/Admin/ServisSil/@i.Id" class="btn btn-danger"style = "border-radius:10px;">Sil</a></td>
                            @*<td><a href="/Admin/ServisGuncelle/@i.Id" class="btn btn-success">Guncelle</a></td>*@
                            <td>@Html.ActionLink("Guncelle", "ServisGuncelle", new { id = i.Id }, new { @class = "btn btn-success", style = "border-radius:10px;" })</td>

                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>




    </div>
</div>

